@model IEnumerable<BrokenGlassDomain.Claim>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadLinks{
        <link type="text/css" rel="stylesheet" href="~/Content/jsgrid.min.css" />
        <link type="text/css" rel="stylesheet" href="~/Content/jsgrid-theme.min.css" />
    }

<div class="container">
    <h3 class="text-muted">Заявки</h3>
    <div id="jsGrid"></div>
</div>

@section Scripts{
        <script type="text/javascript" src="~/scripts/jsgrid.min.js"></script>
        <script type="text/javascript" src="~/scripts/dateFormat.js"></script>
<script type="text/javascript">
    function restoreGridFilter(filter) {
        if (isWasEdit()) {
            FillFilterFields();
            filter = getFilter();
        }
        RegEventEditHappens('false');
        return filter;
    }

    function FillFilterFields() {
        var storagefilter = getFilter();
        var fields = $("#jsGrid").jsGrid("option", "fields");
        if (storagefilter.Id !== 0) fields[1].filterControl.val(storagefilter.Id);
        fields[2].filterControl.val(storagefilter.StateName);
        fields[3].filterControl.val(storagefilter.ServiceName);
        if (storagefilter.OsbCode !== 0) fields[4].filterControl.val(storagefilter.OsbCode);
        fields[5].filterControl.val(storagefilter.AdressName);
        fields[6].filterControl.val(storagefilter.UserEmail);
    }

    function saveFilter(filter) {
        sessionStorage.setItem('gridFilter', JSON.stringify(filter));
    }
    function RegEventEditHappens(result) {
        sessionStorage.setItem('wasEdit', result);
    }
    function isWasEdit() {
        return sessionStorage.getItem('wasEdit') == 'true';
    }
    function getFilter() {
        var item = sessionStorage.getItem('gridFilter');
        return JSON.parse(item);
    }

    
    function isFilterEmpty(filter){
        if(filter.AdressName === "" && filter.Id === 0 && 
           filter.OsbCode === 0 && filter.ServiceName === "" &&
           filter.StateName === "" && filter.UserEmail === "") {
           return true;
        }
        return false;
    }
    $(function () {

    });
    $(function () {

        var claimStates = JSON.parse('@Html.Raw(ViewBag.JsonStates)');
        var services = JSON.parse('@Html.Raw(ViewBag.JsonServices)');
        $("#jsGrid").jsGrid({
            width: "100%",

            filtering: true,
            inserting: false,
            editing: false,
            sorting: true,
            paging: true,
            autoload: true,

            pageSize: 15,
            pageButtonCount: 5,

            //deleteConfirm: "Do you really want to delete the client?",
            controller: {
                loadData: function (filter) {
                    
                    return $.ajax({
                        url: "ClaimData/GetClaim",
                        type: "GET",
                        data: restoreGridFilter(filter),
                        dataType: "json"
                    });
                },
                deleteItem: function (item) {
                    return $.ajax({
                        url: "ClaimData/DeleteClaim",
                        type: "POST",
                        data: {
                            id: item.Id
                        },
                    });
                },
                updateItem: function (item) {
                }
            },

            fields: [
                 {
                     name: "DateCreate", type: "date",
                     itemTemplate: function (item) {
                         if (item != null) {
                             return dateFormat(item, 'dd/mm/yyyy');
                         }
                     },
                     width: 20,
                     title: "Дата создания"
                 },
                { name: "Id", type: "number", width: 10, title: "Номер заявки" },
                { name: "StateName", type: "select", items: claimStates, valueField: "StateName", textField: "StateName", width: 20, title: "Статус", align: "right" },
                { name: "ServiceName", type: "select", width: 30, title: "Сервис", items: services, valueField: "Name", textField: "Name", align: "right" },
                { name: "OsbCode", type: "number", width: 30, title: "Код ОСБ", align: "right" },
                { name: "AdressName", type: "text", width: 30, title: "Адрес", align: "right" },
                { name: "UserEmail", type: "text", width: 40, title: "Обратился", align: "right" },
                {
                    type: "control", width: 10, itemTemplate: function (value, item) {
                        return this._createGridButton("jsgrid-button jsgrid-edit-button", "Edit", function (grid) {
                            var filterForSaving = $('#jsGrid').jsGrid("getFilter");
                            saveFilter(filterForSaving);
                            RegEventEditHappens('true');
                            window.location.href = '@Url.Action("Edit", "ClaimData")'+ '/' + item.Id;
                        });
                    },
                },
                {
                    type: "control", width: 10, deleteButton: true, editButton: false,headerTemplate: function() {},filterTemplate: function() {},
                }

            ]
        });

    });
</script>
    }


