
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExpireToken</title>
</head>
<body>
    <div> 
        <h4 style="color: deepskyblue">Ваша ссылка для подтверждения вашего аккаунта просрочена, на ваш Email была высланна повторная ссылка.</h4>
    </div>
</body>
</html>
